In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold, StratifiedKFold, train_test_split
from sklearn.metrics import roc_auc_score, accuracy_score, confusion_matrix, roc_curve, precision_score, recall_score, precision_recall_curve
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)

In [3]:
df = pd.read_csv('nyc_taxi_trip_duration.csv')
df

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id1080784,2,2016-02-29 16:40:21,2016-02-29 16:47:01,1,-73.953918,40.778873,-73.963875,40.771164,N,400
1,id0889885,1,2016-03-11 23:35:37,2016-03-11 23:53:57,2,-73.988312,40.731743,-73.994751,40.694931,N,1100
2,id0857912,2,2016-02-21 17:59:33,2016-02-21 18:26:48,2,-73.997314,40.721458,-73.948029,40.774918,N,1635
3,id3744273,2,2016-01-05 09:44:31,2016-01-05 10:03:32,6,-73.961670,40.759720,-73.956779,40.780628,N,1141
4,id0232939,1,2016-02-17 06:42:23,2016-02-17 06:56:31,1,-74.017120,40.708469,-73.988182,40.740631,N,848
5,id1918069,2,2016-02-14 18:31:42,2016-02-14 18:55:57,2,-73.993614,40.751884,-73.995422,40.723862,N,1455
6,id2429028,1,2016-04-20 20:30:14,2016-04-20 20:36:51,1,-73.965080,40.758915,-73.976807,40.764107,N,397
7,id1663798,2,2016-06-19 16:48:14,2016-06-19 17:06:35,1,-73.963890,40.765434,-73.872429,40.774200,N,1101
8,id2436943,2,2016-03-28 19:17:03,2016-03-28 19:48:29,2,-73.872887,40.774281,-73.979019,40.761879,N,1886
9,id2933909,1,2016-04-10 22:01:41,2016-04-10 22:25:30,1,-73.987823,40.740982,-73.999153,40.686451,N,1429
10,id2750279,1,2016-01-17 19:40:26,2016-01-17 19:49:13,1,-73.997116,40.722099,-74.006897,40.708321,N,527
11,id1338820,2,2016-04-22 23:33:30,2016-04-22 23:48:41,1,-74.003792,40.741829,-73.993340,40.721882,N,911
12,id0670329,2,2016-01-13 20:25:29,2016-01-13 20:30:40,1,-74.004822,40.728588,-73.997025,40.727123,N,311
13,id3131886,2,2016-06-26 13:39:30,2016-06-26 13:57:20,1,-73.988800,40.752747,-73.995949,40.767254,N,1070
14,id1054271,2,2016-03-17 20:35:44,2016-03-17 20:46:45,1,-73.994789,40.744511,-73.965744,40.754070,N,661
15,id2930166,2,2016-02-21 01:56:14,2016-02-22 01:52:18,1,-74.002876,40.734131,-73.955399,40.767502,N,86164
16,id3867951,2,2016-04-13 22:27:11,2016-04-13 22:42:02,1,-73.979599,40.760658,-73.978386,40.729561,N,891
17,id1520195,2,2016-02-29 08:48:00,2016-02-29 09:13:47,1,-73.982536,40.745682,-74.011017,40.714664,N,1547
18,id0424659,2,2016-02-22 22:36:38,2016-02-22 22:48:35,3,-73.983482,40.755402,-73.946228,40.782341,N,717
19,id3128158,1,2016-04-19 21:52:54,2016-04-19 22:15:49,1,-73.949425,40.713921,-73.972275,40.755642,N,1375
20,id3331801,1,2016-03-20 03:37:31,2016-03-20 03:44:51,1,-74.000618,40.735916,-73.983040,40.738796,N,440
21,id2970074,1,2016-06-23 19:08:37,2016-06-23 19:40:54,1,-73.863251,40.769745,-73.980385,40.755665,N,1937
22,id1095273,2,2016-06-02 19:15:35,2016-06-02 19:47:20,6,-73.863464,40.769768,-73.972771,40.755131,N,1905
23,id2153065,1,2016-02-28 09:12:45,2016-02-28 09:18:10,1,-74.005257,40.720333,-74.006248,40.734516,N,325
24,id0797596,1,2016-03-24 15:26:04,2016-03-24 15:29:10,1,-73.960754,40.770302,-73.953957,40.778942,N,186
25,id1348092,2,2016-03-03 07:53:30,2016-03-03 08:00:15,1,-73.995392,40.734112,-73.985687,40.752579,N,405
26,id1766292,1,2016-06-26 14:50:05,2016-06-26 15:29:15,2,-74.000168,40.758141,-73.947266,40.764793,N,2350
27,id3742607,1,2016-01-22 17:47:13,2016-01-22 17:51:56,1,-73.958694,40.763828,-73.966682,40.764126,N,283
28,id2431017,2,2016-01-21 08:28:19,2016-01-21 08:49:36,1,-74.007500,40.715530,-73.978821,40.755909,N,1277
29,id2735992,1,2016-03-24 22:33:49,2016-03-24 22:39:09,2,-73.988205,40.738266,-73.985214,40.747520,N,320
...,...,...,...,...,...,...,...,...,...,...,...
729292,id1145011,2,2016-02-08 09:21:25,2016-02-08 09:48:33,1,-73.870872,40.773720,-73.968079,40.697651,N,1628
729293,id3309107,2,2016-05-30 07:30:40,2016-05-30 07:37:19,1,-73.982101,40.731995,-74.006798,40.741562,N,399
729294,id1872106,2,2016-05-14 03:07:04,2016-05-14 03:18:45,1,-73.988144,40.720413,-73.991219,40.750343,N,701
729295,id0029305,2,2016-01-26 14:46:00,2016-01-26 14:55:36,1,-73.974533,40.790890,-73.955490,40.787739,N,576
729296,id1557371,1,2016-01-31 17:22:25,2016-01-31 17:24:46,1,-73.966232,40.761818,-73.960403,40.763065,N,141
729297,id1601268,1,2016-04-05 22:30:35,2016-04-05 22:42:02,2,-73.989311,40.756741,-73.967522,40.787853,N,687
729298,id0291831,2,2016-06-22 01:56:39,2016-06-22 02:03:19,2,-73.987961,40.738258,-73.969093,40.760471,N,400
729299,id0269862,2,2016-06-28 10:46:08,2016-06-28 11:02:30,1,-73.975151,40.744514,-73.992683,40.752441,N,982
729300,id1698647,2,2016-03-26 14:43:01,2016-03-26 14:48:53,5,-73.961548,40.774288,-73.977119,40.779888,N,352
729301,id2257919,1,2016-04-17 19:28:38,2016-04-17 19:47:08,2,-74.008087,40.738911,-73.974838,40.762234,N,1110
729302,id0927780,2,2016-01-08 16:50:53,2016-01-08 16:59:43,5,-73.999237,40.733917,-73.983917,40.745968,N,530
729303,id3995685,2,2016-06-05 09:31:03,2016-06-05 09:48:24,2,-73.992897,40.746368,-73.952606,40.725361,N,1041
729304,id0280819,1,2016-03-30 16:17:03,2016-03-30 16:24:41,1,-73.976631,40.751862,-73.987221,40.744850,N,458
729305,id3181346,2,2016-05-02 08:22:25,2016-05-02 08:32:19,1,-74.003395,40.726891,-73.987099,40.733337,N,594
729306,id0893194,2,2016-03-06 14:54:03,2016-03-06 15:49:09,6,-73.983070,40.757626,-73.861641,40.768276,N,3306
729307,id1222178,2,2016-01-16 13:30:58,2016-01-16 13:41:40,3,-73.987732,40.759621,-73.993500,40.749802,N,642
729308,id3477255,2,2016-01-20 08:22:38,2016-01-20 08:47:35,1,-73.977859,40.749538,-73.977859,40.749538,N,1497
729309,id2740069,1,2016-04-30 21:53:06,2016-04-30 22:03:42,1,-73.991104,40.723789,-74.004623,40.733921,N,636
729310,id1055162,2,2016-04-16 16:47:20,2016-04-16 16:49:10,1,-73.957939,40.801128,-73.966591,40.803429,N,110
729311,id3035110,1,2016-05-28 15:33:55,2016-05-28 15:41:19,1,-73.966988,40.772610,-73.973984,40.763077,N,444
729312,id3683137,2,2016-01-01 00:47:30,2016-01-01 01:12:56,1,-73.984779,40.779781,-73.998718,40.739777,N,1526
729313,id3993907,1,2016-02-05 11:24:34,2016-02-05 11:46:39,1,-73.994034,40.751015,-74.003738,40.722240,N,1325
729314,id3226129,2,2016-03-21 03:43:03,2016-03-21 04:05:21,2,-73.987740,40.748222,-73.949585,40.680737,N,1338
729315,id3234032,1,2016-06-28 06:41:53,2016-06-28 06:43:43,1,-73.984116,40.725372,-73.982544,40.731377,N,110
729316,id2031090,2,2016-01-25 22:31:56,2016-01-25 22:39:25,1,-73.974487,40.783138,-73.952629,40.772270,N,449
729317,id3905982,2,2016-05-21 13:29:38,2016-05-21 13:34:34,2,-73.965919,40.789780,-73.952637,40.789181,N,296
729318,id0102861,1,2016-02-22 00:43:11,2016-02-22 00:48:26,1,-73.996666,40.737434,-74.001320,40.731911,N,315
729319,id0439699,1,2016-04-15 18:56:48,2016-04-15 19:08:01,1,-73.997849,40.761696,-74.001488,40.741207,N,673
729320,id2078912,1,2016-06-19 09:50:47,2016-06-19 09:58:14,1,-74.006706,40.708244,-74.013550,40.713814,N,447
729321,id1053441,2,2016-01-01 17:24:16,2016-01-01 17:44:40,4,-74.003342,40.743839,-73.945847,40.712841,N,1224

In [4]:
#Now that the file has been read, it is time to have a look at the missing
#values
pd.isnull(df).sum()

id                    0
vendor_id             0
pickup_datetime       0
dropoff_datetime      0
passenger_count       0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude     0
dropoff_latitude      0
store_and_fwd_flag    0
trip_duration         0
dtype: int64

In [4]:
#Since there are no missing values, we can go onto the next part of the 
#process which is preprocessing
#we know that the date time pickup can be subdivided into weekdays and time
#so let us do that in order to get a better understanding
dfDay = df

from datetime import date
import calendar
my_date = date.today()
import datetime
arr = []
def generateDay(feature):
    for i in range(0,len(df[feature])):
        date = df[feature][i].split()[0]
        year, month, day = (int(x) for x in date.split('-'))
        ans = datetime.date(year, month, day)
        arr.append(ans.strftime("%A"))
generateDay('pickup_datetime')
arr
dfDay['weekday'] = arr

ar = []
def generateDay(feature):
    for i in range(0,len(dfDay[feature])):
        time = dfDay[feature][i].split()[1]
        hour, minute, sec = (int(x) for x in time.split(':'))
        if (hour > 21):
            ar.append('Night: 9 - 6 am')
        elif(hour <= 21 and hour > 19):
            ar.append('Evening Office Hours: 7 - 9 pm')
        elif(hour <= 19 and hour > 16):
            ar.append('Evening  Hours: 4 - 7 pm')
        elif(hour <= 16 and hour > 12):
            ar.append('Afternoon: 12 - 4 pm')
        elif(hour <= 12 and hour > 9):
            ar.append('Morning Office Hours: 9 - 12 pm')
        else:
            ar.append('Morning: 6 - 9 pm')
generateDay('pickup_datetime')
dfDay['Time_Of_Day'] = ar
dfDay

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,weekday,Time_Of_Day
0,id1080784,2,2016-02-29 16:40:21,2016-02-29 16:47:01,1,-73.953918,40.778873,-73.963875,40.771164,N,400,Monday,Afternoon: 12 - 4 pm
1,id0889885,1,2016-03-11 23:35:37,2016-03-11 23:53:57,2,-73.988312,40.731743,-73.994751,40.694931,N,1100,Friday,Night: 9 - 6 am
2,id0857912,2,2016-02-21 17:59:33,2016-02-21 18:26:48,2,-73.997314,40.721458,-73.948029,40.774918,N,1635,Sunday,Evening Hours: 4 - 7 pm
3,id3744273,2,2016-01-05 09:44:31,2016-01-05 10:03:32,6,-73.961670,40.759720,-73.956779,40.780628,N,1141,Tuesday,Morning: 6 - 9 pm
4,id0232939,1,2016-02-17 06:42:23,2016-02-17 06:56:31,1,-74.017120,40.708469,-73.988182,40.740631,N,848,Wednesday,Morning: 6 - 9 pm
5,id1918069,2,2016-02-14 18:31:42,2016-02-14 18:55:57,2,-73.993614,40.751884,-73.995422,40.723862,N,1455,Sunday,Evening Hours: 4 - 7 pm
6,id2429028,1,2016-04-20 20:30:14,2016-04-20 20:36:51,1,-73.965080,40.758915,-73.976807,40.764107,N,397,Wednesday,Evening Office Hours: 7 - 9 pm
7,id1663798,2,2016-06-19 16:48:14,2016-06-19 17:06:35,1,-73.963890,40.765434,-73.872429,40.774200,N,1101,Sunday,Afternoon: 12 - 4 pm
8,id2436943,2,2016-03-28 19:17:03,2016-03-28 19:48:29,2,-73.872887,40.774281,-73.979019,40.761879,N,1886,Monday,Evening Hours: 4 - 7 pm
9,id2933909,1,2016-04-10 22:01:41,2016-04-10 22:25:30,1,-73.987823,40.740982,-73.999153,40.686451,N,1429,Sunday,Night: 9 - 6 am
10,id2750279,1,2016-01-17 19:40:26,2016-01-17 19:49:13,1,-73.997116,40.722099,-74.006897,40.708321,N,527,Sunday,Evening Hours: 4 - 7 pm
11,id1338820,2,2016-04-22 23:33:30,2016-04-22 23:48:41,1,-74.003792,40.741829,-73.993340,40.721882,N,911,Friday,Night: 9 - 6 am
12,id0670329,2,2016-01-13 20:25:29,2016-01-13 20:30:40,1,-74.004822,40.728588,-73.997025,40.727123,N,311,Wednesday,Evening Office Hours: 7 - 9 pm
13,id3131886,2,2016-06-26 13:39:30,2016-06-26 13:57:20,1,-73.988800,40.752747,-73.995949,40.767254,N,1070,Sunday,Afternoon: 12 - 4 pm
14,id1054271,2,2016-03-17 20:35:44,2016-03-17 20:46:45,1,-73.994789,40.744511,-73.965744,40.754070,N,661,Thursday,Evening Office Hours: 7 - 9 pm
15,id2930166,2,2016-02-21 01:56:14,2016-02-22 01:52:18,1,-74.002876,40.734131,-73.955399,40.767502,N,86164,Sunday,Morning: 6 - 9 pm
16,id3867951,2,2016-04-13 22:27:11,2016-04-13 22:42:02,1,-73.979599,40.760658,-73.978386,40.729561,N,891,Wednesday,Night: 9 - 6 am
17,id1520195,2,2016-02-29 08:48:00,2016-02-29 09:13:47,1,-73.982536,40.745682,-74.011017,40.714664,N,1547,Monday,Morning: 6 - 9 pm
18,id0424659,2,2016-02-22 22:36:38,2016-02-22 22:48:35,3,-73.983482,40.755402,-73.946228,40.782341,N,717,Monday,Night: 9 - 6 am
19,id3128158,1,2016-04-19 21:52:54,2016-04-19 22:15:49,1,-73.949425,40.713921,-73.972275,40.755642,N,1375,Tuesday,Evening Office Hours: 7 - 9 pm
20,id3331801,1,2016-03-20 03:37:31,2016-03-20 03:44:51,1,-74.000618,40.735916,-73.983040,40.738796,N,440,Sunday,Morning: 6 - 9 pm
21,id2970074,1,2016-06-23 19:08:37,2016-06-23 19:40:54,1,-73.863251,40.769745,-73.980385,40.755665,N,1937,Thursday,Evening Hours: 4 - 7 pm
22,id1095273,2,2016-06-02 19:15:35,2016-06-02 19:47:20,6,-73.863464,40.769768,-73.972771,40.755131,N,1905,Thursday,Evening Hours: 4 - 7 pm
23,id2153065,1,2016-02-28 09:12:45,2016-02-28 09:18:10,1,-74.005257,40.720333,-74.006248,40.734516,N,325,Sunday,Morning: 6 - 9 pm
24,id0797596,1,2016-03-24 15:26:04,2016-03-24 15:29:10,1,-73.960754,40.770302,-73.953957,40.778942,N,186,Thursday,Afternoon: 12 - 4 pm
25,id1348092,2,2016-03-03 07:53:30,2016-03-03 08:00:15,1,-73.995392,40.734112,-73.985687,40.752579,N,405,Thursday,Morning: 6 - 9 pm
26,id1766292,1,2016-06-26 14:50:05,2016-06-26 15:29:15,2,-74.000168,40.758141,-73.947266,40.764793,N,2350,Sunday,Afternoon: 12 - 4 pm
27,id3742607,1,2016-01-22 17:47:13,2016-01-22 17:51:56,1,-73.958694,40.763828,-73.966682,40.764126,N,283,Friday,Evening Hours: 4 - 7 pm
28,id2431017,2,2016-01-21 08:28:19,2016-01-21 08:49:36,1,-74.007500,40.715530,-73.978821,40.755909,N,1277,Thursday,Morning: 6 - 9 pm
29,id2735992,1,2016-03-24 22:33:49,2016-03-24 22:39:09,2,-73.988205,40.738266,-73.985214,40.747520,N,320,Thursday,Night: 9 - 6 am
...,...,...,...,...,...,...,...,...,...,...,...,...,...
729292,id1145011,2,2016-02-08 09:21:25,2016-02-08 09:48:33,1,-73.870872,40.773720,-73.968079,40.697651,N,1628,Monday,Morning: 6 - 9 pm
729293,id3309107,2,2016-05-30 07:30:40,2016-05-30 07:37:19,1,-73.982101,40.731995,-74.006798,40.741562,N,399,Monday,Morning: 6 - 9 pm
729294,id1872106,2,2016-05-14 03:07:04,2016-05-14 03:18:45,1,-73.988144,40.720413,-73.991219,40.750343,N,701,Saturday,Morning: 6 - 9 pm
729295,id0029305,2,2016-01-26 14:46:00,2016-01-26 14:55:36,1,-73.974533,40.790890,-73.955490,40.787739,N,576,Tuesday,Afternoon: 12 - 4 pm
729296,id1557371,1,2016-01-31 17:22:25,2016-01-31 17:24:46,1,-73.966232,40.761818,-73.960403,40.763065,N,141,Sunday,Evening Hours: 4 - 7 pm
729297,id1601268,1,2016-04-05 22:30:35,2016-04-05 22:42:02,2,-73.989311,40.756741,-73.967522,40.787853,N,687,Tuesday,Night: 9 - 6 am
729298,id0291831,2,2016-06-22 01:56:39,2016-06-22 02:03:19,2,-73.987961,40.738258,-73.969093,40.760471,N,400,Wednesday,Morning: 6 - 9 pm
729299,id0269862,2,2016-06-28 10:46:08,2016-06-28 11:02:30,1,-73.975151,40.744514,-73.992683,40.752441,N,982,Tuesday,Morning Office Hours: 9 - 12 pm
729300,id1698647,2,2016-03-26 14:43:01,2016-03-26 14:48:53,5,-73.961548,40.774288,-73.977119,40.779888,N,352,Saturday,Afternoon: 12 - 4 pm
729301,id2257919,1,2016-04-17 19:28:38,2016-04-17 19:47:08,2,-74.008087,40.738911,-73.974838,40.762234,N,1110,Sunday,Evening Hours: 4 - 7 pm
729302,id0927780,2,2016-01-08 16:50:53,2016-01-08 16:59:43,5,-73.999237,40.733917,-73.983917,40.745968,N,530,Friday,Afternoon: 12 - 4 pm
729303,id3995685,2,2016-06-05 09:31:03,2016-06-05 09:48:24,2,-73.992897,40.746368,-73.952606,40.725361,N,1041,Sunday,Morning: 6 - 9 pm
729304,id0280819,1,2016-03-30 16:17:03,2016-03-30 16:24:41,1,-73.976631,40.751862,-73.987221,40.744850,N,458,Wednesday,Afternoon: 12 - 4 pm
729305,id3181346,2,2016-05-02 08:22:25,2016-05-02 08:32:19,1,-74.003395,40.726891,-73.987099,40.733337,N,594,Monday,Morning: 6 - 9 pm
729306,id0893194,2,2016-03-06 14:54:03,2016-03-06 15:49:09,6,-73.983070,40.757626,-73.861641,40.768276,N,3306,Sunday,Afternoon: 12 - 4 pm
729307,id1222178,2,2016-01-16 13:30:58,2016-01-16 13:41:40,3,-73.987732,40.759621,-73.993500,40.749802,N,642,Saturday,Afternoon: 12 - 4 pm
729308,id3477255,2,2016-01-20 08:22:38,2016-01-20 08:47:35,1,-73.977859,40.749538,-73.977859,40.749538,N,1497,Wednesday,Morning: 6 - 9 pm
729309,id2740069,1,2016-04-30 21:53:06,2016-04-30 22:03:42,1,-73.991104,40.723789,-74.004623,40.733921,N,636,Saturday,Evening Office Hours: 7 - 9 pm
729310,id1055162,2,2016-04-16 16:47:20,2016-04-16 16:49:10,1,-73.957939,40.801128,-73.966591,40.803429,N,110,Saturday,Afternoon: 12 - 4 pm
729311,id3035110,1,2016-05-28 15:33:55,2016-05-28 15:41:19,1,-73.966988,40.772610,-73.973984,40.763077,N,444,Saturday,Afternoon: 12 - 4 pm
729312,id3683137,2,2016-01-01 00:47:30,2016-01-01 01:12:56,1,-73.984779,40.779781,-73.998718,40.739777,N,1526,Friday,Morning: 6 - 9 pm
729313,id3993907,1,2016-02-05 11:24:34,2016-02-05 11:46:39,1,-73.994034,40.751015,-74.003738,40.722240,N,1325,Friday,Morning Office Hours: 9 - 12 pm
729314,id3226129,2,2016-03-21 03:43:03,2016-03-21 04:05:21,2,-73.987740,40.748222,-73.949585,40.680737,N,1338,Monday,Morning: 6 - 9 pm
729315,id3234032,1,2016-06-28 06:41:53,2016-06-28 06:43:43,1,-73.984116,40.725372,-73.982544,40.731377,N,110,Tuesday,Morning: 6 - 9 pm
729316,id2031090,2,2016-01-25 22:31:56,2016-01-25 22:39:25,1,-73.974487,40.783138,-73.952629,40.772270,N,449,Monday,Night: 9 - 6 am
729317,id3905982,2,2016-05-21 13:29:38,2016-05-21 13:34:34,2,-73.965919,40.789780,-73.952637,40.789181,N,296,Saturday,Afternoon: 12 - 4 pm
729318,id0102861,1,2016-02-22 00:43:11,2016-02-22 00:48:26,1,-73.996666,40.737434,-74.001320,40.731911,N,315,Monday,Morning: 6 - 9 pm
729319,id0439699,1,2016-04-15 18:56:48,2016-04-15 19:08:01,1,-73.997849,40.761696,-74.001488,40.741207,N,673,Friday,Evening Hours: 4 - 7 pm
729320,id2078912,1,2016-06-19 09:50:47,2016-06-19 09:58:14,1,-74.006706,40.708244,-74.013550,40.713814,N,447,Sunday,Morning: 6 - 9 pm
729321,id1053441,2,2016-01-01 17:24:16,2016-01-01 17:44:40,4,-74.003342,40.743839,-73.945847,40.712841,N,1224,Friday,Evening Hours: 4 - 7 pm

In [5]:
#now that we have extracted the date and time, we can categorize it
dfDay = pd.concat([dfDay,pd.get_dummies(dfDay['weekday'],prefix = str('day'),prefix_sep='_')],axis = 1)
dfDay = pd.concat([dfDay,pd.get_dummies(dfDay['Time_Of_Day'],prefix = str('Time'),prefix_sep='_') ],axis = 1)
dfDay

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,...,day_Sunday,day_Thursday,day_Tuesday,day_Wednesday,Time_Afternoon: 12 - 4 pm,Time_Evening Hours: 4 - 7 pm,Time_Evening Office Hours: 7 - 9 pm,Time_Morning Office Hours: 9 - 12 pm,Time_Morning: 6 - 9 pm,Time_Night: 9 - 6 am
0,id1080784,2,2016-02-29 16:40:21,2016-02-29 16:47:01,1,-73.953918,40.778873,-73.963875,40.771164,N,...,0,0,0,0,1,0,0,0,0,0
1,id0889885,1,2016-03-11 23:35:37,2016-03-11 23:53:57,2,-73.988312,40.731743,-73.994751,40.694931,N,...,0,0,0,0,0,0,0,0,0,1
2,id0857912,2,2016-02-21 17:59:33,2016-02-21 18:26:48,2,-73.997314,40.721458,-73.948029,40.774918,N,...,1,0,0,0,0,1,0,0,0,0
3,id3744273,2,2016-01-05 09:44:31,2016-01-05 10:03:32,6,-73.961670,40.759720,-73.956779,40.780628,N,...,0,0,1,0,0,0,0,0,1,0
4,id0232939,1,2016-02-17 06:42:23,2016-02-17 06:56:31,1,-74.017120,40.708469,-73.988182,40.740631,N,...,0,0,0,1,0,0,0,0,1,0
5,id1918069,2,2016-02-14 18:31:42,2016-02-14 18:55:57,2,-73.993614,40.751884,-73.995422,40.723862,N,...,1,0,0,0,0,1,0,0,0,0
6,id2429028,1,2016-04-20 20:30:14,2016-04-20 20:36:51,1,-73.965080,40.758915,-73.976807,40.764107,N,...,0,0,0,1,0,0,1,0,0,0
7,id1663798,2,2016-06-19 16:48:14,2016-06-19 17:06:35,1,-73.963890,40.765434,-73.872429,40.774200,N,...,1,0,0,0,1,0,0,0,0,0
8,id2436943,2,2016-03-28 19:17:03,2016-03-28 19:48:29,2,-73.872887,40.774281,-73.979019,40.761879,N,...,0,0,0,0,0,1,0,0,0,0
9,id2933909,1,2016-04-10 22:01:41,2016-04-10 22:25:30,1,-73.987823,40.740982,-73.999153,40.686451,N,...,1,0,0,0,0,0,0,0,0,1
10,id2750279,1,2016-01-17 19:40:26,2016-01-17 19:49:13,1,-73.997116,40.722099,-74.006897,40.708321,N,...,1,0,0,0,0,1,0,0,0,0
11,id1338820,2,2016-04-22 23:33:30,2016-04-22 23:48:41,1,-74.003792,40.741829,-73.993340,40.721882,N,...,0,0,0,0,0,0,0,0,0,1
12,id0670329,2,2016-01-13 20:25:29,2016-01-13 20:30:40,1,-74.004822,40.728588,-73.997025,40.727123,N,...,0,0,0,1,0,0,1,0,0,0
13,id3131886,2,2016-06-26 13:39:30,2016-06-26 13:57:20,1,-73.988800,40.752747,-73.995949,40.767254,N,...,1,0,0,0,1,0,0,0,0,0
14,id1054271,2,2016-03-17 20:35:44,2016-03-17 20:46:45,1,-73.994789,40.744511,-73.965744,40.754070,N,...,0,1,0,0,0,0,1,0,0,0
15,id2930166,2,2016-02-21 01:56:14,2016-02-22 01:52:18,1,-74.002876,40.734131,-73.955399,40.767502,N,...,1,0,0,0,0,0,0,0,1,0
16,id3867951,2,2016-04-13 22:27:11,2016-04-13 22:42:02,1,-73.979599,40.760658,-73.978386,40.729561,N,...,0,0,0,1,0,0,0,0,0,1
17,id1520195,2,2016-02-29 08:48:00,2016-02-29 09:13:47,1,-73.982536,40.745682,-74.011017,40.714664,N,...,0,0,0,0,0,0,0,0,1,0
18,id0424659,2,2016-02-22 22:36:38,2016-02-22 22:48:35,3,-73.983482,40.755402,-73.946228,40.782341,N,...,0,0,0,0,0,0,0,0,0,1
19,id3128158,1,2016-04-19 21:52:54,2016-04-19 22:15:49,1,-73.949425,40.713921,-73.972275,40.755642,N,...,0,0,1,0,0,0,1,0,0,0
20,id3331801,1,2016-03-20 03:37:31,2016-03-20 03:44:51,1,-74.000618,40.735916,-73.983040,40.738796,N,...,1,0,0,0,0,0,0,0,1,0
21,id2970074,1,2016-06-23 19:08:37,2016-06-23 19:40:54,1,-73.863251,40.769745,-73.980385,40.755665,N,...,0,1,0,0,0,1,0,0,0,0
22,id1095273,2,2016-06-02 19:15:35,2016-06-02 19:47:20,6,-73.863464,40.769768,-73.972771,40.755131,N,...,0,1,0,0,0,1,0,0,0,0
23,id2153065,1,2016-02-28 09:12:45,2016-02-28 09:18:10,1,-74.005257,40.720333,-74.006248,40.734516,N,...,1,0,0,0,0,0,0,0,1,0
24,id0797596,1,2016-03-24 15:26:04,2016-03-24 15:29:10,1,-73.960754,40.770302,-73.953957,40.778942,N,...,0,1,0,0,1,0,0,0,0,0
25,id1348092,2,2016-03-03 07:53:30,2016-03-03 08:00:15,1,-73.995392,40.734112,-73.985687,40.752579,N,...,0,1,0,0,0,0,0,0,1,0
26,id1766292,1,2016-06-26 14:50:05,2016-06-26 15:29:15,2,-74.000168,40.758141,-73.947266,40.764793,N,...,1,0,0,0,1,0,0,0,0,0
27,id3742607,1,2016-01-22 17:47:13,2016-01-22 17:51:56,1,-73.958694,40.763828,-73.966682,40.764126,N,...,0,0,0,0,0,1,0,0,0,0
28,id2431017,2,2016-01-21 08:28:19,2016-01-21 08:49:36,1,-74.007500,40.715530,-73.978821,40.755909,N,...,0,1,0,0,0,0,0,0,1,0
29,id2735992,1,2016-03-24 22:33:49,2016-03-24 22:39:09,2,-73.988205,40.738266,-73.985214,40.747520,N,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729292,id1145011,2,2016-02-08 09:21:25,2016-02-08 09:48:33,1,-73.870872,40.773720,-73.968079,40.697651,N,...,0,0,0,0,0,0,0,0,1,0
729293,id3309107,2,2016-05-30 07:30:40,2016-05-30 07:37:19,1,-73.982101,40.731995,-74.006798,40.741562,N,...,0,0,0,0,0,0,0,0,1,0
729294,id1872106,2,2016-05-14 03:07:04,2016-05-14 03:18:45,1,-73.988144,40.720413,-73.991219,40.750343,N,...,0,0,0,0,0,0,0,0,1,0
729295,id0029305,2,2016-01-26 14:46:00,2016-01-26 14:55:36,1,-73.974533,40.790890,-73.955490,40.787739,N,...,0,0,1,0,1,0,0,0,0,0
729296,id1557371,1,2016-01-31 17:22:25,2016-01-31 17:24:46,1,-73.966232,40.761818,-73.960403,40.763065,N,...,1,0,0,0,0,1,0,0,0,0
729297,id1601268,1,2016-04-05 22:30:35,2016-04-05 22:42:02,2,-73.989311,40.756741,-73.967522,40.787853,N,...,0,0,1,0,0,0,0,0,0,1
729298,id0291831,2,2016-06-22 01:56:39,2016-06-22 02:03:19,2,-73.987961,40.738258,-73.969093,40.760471,N,...,0,0,0,1,0,0,0,0,1,0
729299,id0269862,2,2016-06-28 10:46:08,2016-06-28 11:02:30,1,-73.975151,40.744514,-73.992683,40.752441,N,...,0,0,1,0,0,0,0,1,0,0
729300,id1698647,2,2016-03-26 14:43:01,2016-03-26 14:48:53,5,-73.961548,40.774288,-73.977119,40.779888,N,...,0,0,0,0,1,0,0,0,0,0
729301,id2257919,1,2016-04-17 19:28:38,2016-04-17 19:47:08,2,-74.008087,40.738911,-73.974838,40.762234,N,...,1,0,0,0,0,1,0,0,0,0
729302,id0927780,2,2016-01-08 16:50:53,2016-01-08 16:59:43,5,-73.999237,40.733917,-73.983917,40.745968,N,...,0,0,0,0,1,0,0,0,0,0
729303,id3995685,2,2016-06-05 09:31:03,2016-06-05 09:48:24,2,-73.992897,40.746368,-73.952606,40.725361,N,...,1,0,0,0,0,0,0,0,1,0
729304,id0280819,1,2016-03-30 16:17:03,2016-03-30 16:24:41,1,-73.976631,40.751862,-73.987221,40.744850,N,...,0,0,0,1,1,0,0,0,0,0
729305,id3181346,2,2016-05-02 08:22:25,2016-05-02 08:32:19,1,-74.003395,40.726891,-73.987099,40.733337,N,...,0,0,0,0,0,0,0,0,1,0
729306,id0893194,2,2016-03-06 14:54:03,2016-03-06 15:49:09,6,-73.983070,40.757626,-73.861641,40.768276,N,...,1,0,0,0,1,0,0,0,0,0
729307,id1222178,2,2016-01-16 13:30:58,2016-01-16 13:41:40,3,-73.987732,40.759621,-73.993500,40.749802,N,...,0,0,0,0,1,0,0,0,0,0
729308,id3477255,2,2016-01-20 08:22:38,2016-01-20 08:47:35,1,-73.977859,40.749538,-73.977859,40.749538,N,...,0,0,0,1,0,0,0,0,1,0
729309,id2740069,1,2016-04-30 21:53:06,2016-04-30 22:03:42,1,-73.991104,40.723789,-74.004623,40.733921,N,...,0,0,0,0,0,0,1,0,0,0
729310,id1055162,2,2016-04-16 16:47:20,2016-04-16 16:49:10,1,-73.957939,40.801128,-73.966591,40.803429,N,...,0,0,0,0,1,0,0,0,0,0
729311,id3035110,1,2016-05-28 15:33:55,2016-05-28 15:41:19,1,-73.966988,40.772610,-73.973984,40.763077,N,...,0,0,0,0,1,0,0,0,0,0
729312,id3683137,2,2016-01-01 00:47:30,2016-01-01 01:12:56,1,-73.984779,40.779781,-73.998718,40.739777,N,...,0,0,0,0,0,0,0,0,1,0
729313,id3993907,1,2016-02-05 11:24:34,2016-02-05 11:46:39,1,-73.994034,40.751015,-74.003738,40.722240,N,...,0,0,0,0,0,0,0,1,0,0
729314,id3226129,2,2016-03-21 03:43:03,2016-03-21 04:05:21,2,-73.987740,40.748222,-73.949585,40.680737,N,...,0,0,0,0,0,0,0,0,1,0
729315,id3234032,1,2016-06-28 06:41:53,2016-06-28 06:43:43,1,-73.984116,40.725372,-73.982544,40.731377,N,...,0,0,1,0,0,0,0,0,1,0
729316,id2031090,2,2016-01-25 22:31:56,2016-01-25 22:39:25,1,-73.974487,40.783138,-73.952629,40.772270,N,...,0,0,0,0,0,0,0,0,0,1
729317,id3905982,2,2016-05-21 13:29:38,2016-05-21 13:34:34,2,-73.965919,40.789780,-73.952637,40.789181,N,...,0,0,0,0,1,0,0,0,0,0
729318,id0102861,1,2016-02-22 00:43:11,2016-02-22 00:48:26,1,-73.996666,40.737434,-74.001320,40.731911,N,...,0,0,0,0,0,0,0,0,1,0
729319,id0439699,1,2016-04-15 18:56:48,2016-04-15 19:08:01,1,-73.997849,40.761696,-74.001488,40.741207,N,...,0,0,0,0,0,1,0,0,0,0
729320,id2078912,1,2016-06-19 09:50:47,2016-06-19 09:58:14,1,-74.006706,40.708244,-74.013550,40.713814,N,...,1,0,0,0,0,0,0,0,1,0
729321,id1053441,2,2016-01-01 17:24:16,2016-01-01 17:44:40,4,-74.003342,40.743839,-73.945847,40.712841,N,...,0,0,0,0,0,1,0,0,0,0

In [6]:
#We don't have to scale anything as there aren't any outliers persay
#adding a new column distance, because we can't predict anything just
#based on longitudes and latitudes in raw form
pickup = []
from math import sin, cos, sqrt, atan2, radians

# approximate radius of earth in km
R = 6373.0
#Calculating the distance between the pickup and drop off location

for i in range(0, len(df)):
    lat1 = radians(dfDay['pickup_latitude'][i])
    lon1 = radians(dfDay['pickup_longitude'][i])
    lat2 = radians(dfDay['dropoff_latitude'][i])
    lon2 = radians(dfDay['dropoff_longitude'][i])
    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = (sin(dlat / 2)**2) + cos(lat1) * cos(lat2) * (sin(dlon / 2)**2)
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c
    pickup.append(distance)

dfDay["Distance"] = pickup
dfDay

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,...,day_Thursday,day_Tuesday,day_Wednesday,Time_Afternoon: 12 - 4 pm,Time_Evening Hours: 4 - 7 pm,Time_Evening Office Hours: 7 - 9 pm,Time_Morning Office Hours: 9 - 12 pm,Time_Morning: 6 - 9 pm,Time_Night: 9 - 6 am,Distance
0,id1080784,2,2016-02-29 16:40:21,2016-02-29 16:47:01,1,-73.953918,40.778873,-73.963875,40.771164,N,...,0,0,0,1,0,0,0,0,0,1.199449
1,id0889885,1,2016-03-11 23:35:37,2016-03-11 23:53:57,2,-73.988312,40.731743,-73.994751,40.694931,N,...,0,0,0,0,0,0,0,0,1,4.130407
2,id0857912,2,2016-02-21 17:59:33,2016-02-21 18:26:48,2,-73.997314,40.721458,-73.948029,40.774918,N,...,0,0,0,0,1,0,0,0,0,7.253029
3,id3744273,2,2016-01-05 09:44:31,2016-01-05 10:03:32,6,-73.961670,40.759720,-73.956779,40.780628,N,...,0,1,0,0,0,0,0,1,0,2.361839
4,id0232939,1,2016-02-17 06:42:23,2016-02-17 06:56:31,1,-74.017120,40.708469,-73.988182,40.740631,N,...,0,0,1,0,0,0,0,1,0,4.329893
5,id1918069,2,2016-02-14 18:31:42,2016-02-14 18:55:57,2,-73.993614,40.751884,-73.995422,40.723862,N,...,0,0,0,0,1,0,0,0,0,3.120691
6,id2429028,1,2016-04-20 20:30:14,2016-04-20 20:36:51,1,-73.965080,40.758915,-73.976807,40.764107,N,...,0,0,1,0,0,1,0,0,0,1.144338
7,id1663798,2,2016-06-19 16:48:14,2016-06-19 17:06:35,1,-73.963890,40.765434,-73.872429,40.774200,N,...,0,0,0,1,0,0,0,0,0,7.766026
8,id2436943,2,2016-03-28 19:17:03,2016-03-28 19:48:29,2,-73.872887,40.774281,-73.979019,40.761879,N,...,0,0,0,0,1,0,0,0,0,9.046486
9,id2933909,1,2016-04-10 22:01:41,2016-04-10 22:25:30,1,-73.987823,40.740982,-73.999153,40.686451,N,...,0,0,0,0,0,0,0,0,1,6.140237
10,id2750279,1,2016-01-17 19:40:26,2016-01-17 19:49:13,1,-73.997116,40.722099,-74.006897,40.708321,N,...,0,0,0,0,1,0,0,0,0,1.740356
11,id1338820,2,2016-04-22 23:33:30,2016-04-22 23:48:41,1,-74.003792,40.741829,-73.993340,40.721882,N,...,0,0,0,0,0,0,0,0,1,2.387217
12,id0670329,2,2016-01-13 20:25:29,2016-01-13 20:30:40,1,-74.004822,40.728588,-73.997025,40.727123,N,...,0,0,1,0,0,1,0,0,0,0.677139
13,id3131886,2,2016-06-26 13:39:30,2016-06-26 13:57:20,1,-73.988800,40.752747,-73.995949,40.767254,N,...,0,0,0,1,0,0,0,0,0,1.722382
14,id1054271,2,2016-03-17 20:35:44,2016-03-17 20:46:45,1,-73.994789,40.744511,-73.965744,40.754070,N,...,1,0,0,0,0,1,0,0,0,2.668481
15,id2930166,2,2016-02-21 01:56:14,2016-02-22 01:52:18,1,-74.002876,40.734131,-73.955399,40.767502,N,...,0,0,0,0,0,0,0,1,0,5.457349
16,id3867951,2,2016-04-13 22:27:11,2016-04-13 22:42:02,1,-73.979599,40.760658,-73.978386,40.729561,N,...,0,0,1,0,0,0,0,0,1,3.460470
17,id1520195,2,2016-02-29 08:48:00,2016-02-29 09:13:47,1,-73.982536,40.745682,-74.011017,40.714664,N,...,0,0,0,0,0,0,0,1,0,4.203057
18,id0424659,2,2016-02-22 22:36:38,2016-02-22 22:48:35,3,-73.983482,40.755402,-73.946228,40.782341,N,...,0,0,0,0,0,0,0,0,1,4.339094
19,id3128158,1,2016-04-19 21:52:54,2016-04-19 22:15:49,1,-73.949425,40.713921,-73.972275,40.755642,N,...,0,1,0,0,0,1,0,0,0,5.024410
20,id3331801,1,2016-03-20 03:37:31,2016-03-20 03:44:51,1,-74.000618,40.735916,-73.983040,40.738796,N,...,0,0,0,0,0,0,0,1,0,1.515722
21,id2970074,1,2016-06-23 19:08:37,2016-06-23 19:40:54,1,-73.863251,40.769745,-73.980385,40.755665,N,...,1,0,0,0,1,0,0,0,0,9.991781
22,id1095273,2,2016-06-02 19:15:35,2016-06-02 19:47:20,6,-73.863464,40.769768,-73.972771,40.755131,N,...,1,0,0,0,1,0,0,0,0,9.351654
23,id2153065,1,2016-02-28 09:12:45,2016-02-28 09:18:10,1,-74.005257,40.720333,-74.006248,40.734516,N,...,0,0,0,0,0,0,0,1,0,1.579791
24,id0797596,1,2016-03-24 15:26:04,2016-03-24 15:29:10,1,-73.960754,40.770302,-73.953957,40.778942,N,...,1,0,0,1,0,0,0,0,0,1.118704
25,id1348092,2,2016-03-03 07:53:30,2016-03-03 08:00:15,1,-73.995392,40.734112,-73.985687,40.752579,N,...,1,0,0,0,0,0,0,1,0,2.210898
26,id1766292,1,2016-06-26 14:50:05,2016-06-26 15:29:15,2,-74.000168,40.758141,-73.947266,40.764793,N,...,0,0,0,1,0,0,0,0,0,4.517988
27,id3742607,1,2016-01-22 17:47:13,2016-01-22 17:51:56,1,-73.958694,40.763828,-73.966682,40.764126,N,...,0,0,0,0,1,0,0,0,0,0.673769
28,id2431017,2,2016-01-21 08:28:19,2016-01-21 08:49:36,1,-74.007500,40.715530,-73.978821,40.755909,N,...,1,0,0,0,0,0,0,1,0,5.100414
29,id2735992,1,2016-03-24 22:33:49,2016-03-24 22:39:09,2,-73.988205,40.738266,-73.985214,40.747520,N,...,1,0,0,0,0,0,0,0,1,1.059777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
729292,id1145011,2,2016-02-08 09:21:25,2016-02-08 09:48:33,1,-73.870872,40.773720,-73.968079,40.697651,N,...,0,0,0,0,0,0,0,1,0,11.777579
729293,id3309107,2,2016-05-30 07:30:40,2016-05-30 07:37:19,1,-73.982101,40.731995,-74.006798,40.741562,N,...,0,0,0,0,0,0,0,1,0,2.337684
729294,id1872106,2,2016-05-14 03:07:04,2016-05-14 03:18:45,1,-73.988144,40.720413,-73.991219,40.750343,N,...,0,0,0,0,0,0,0,1,0,3.339192
729295,id0029305,2,2016-01-26 14:46:00,2016-01-26 14:55:36,1,-73.974533,40.790890,-73.955490,40.787739,N,...,0,1,0,1,0,0,0,0,0,1.641535
729296,id1557371,1,2016-01-31 17:22:25,2016-01-31 17:24:46,1,-73.966232,40.761818,-73.960403,40.763065,N,...,0,0,0,0,1,0,0,0,0,0.510295
729297,id1601268,1,2016-04-05 22:30:35,2016-04-05 22:42:02,2,-73.989311,40.756741,-73.967522,40.787853,N,...,0,1,0,0,0,0,0,0,1,3.917275
729298,id0291831,2,2016-06-22 01:56:39,2016-06-22 02:03:19,2,-73.987961,40.738258,-73.969093,40.760471,N,...,0,0,1,0,0,0,0,1,0,2.938069
729299,id0269862,2,2016-06-28 10:46:08,2016-06-28 11:02:30,1,-73.975151,40.744514,-73.992683,40.752441,N,...,0,1,0,0,0,0,1,0,0,1.720482
729300,id1698647,2,2016-03-26 14:43:01,2016-03-26 14:48:53,5,-73.961548,40.774288,-73.977119,40.779888,N,...,0,0,0,1,0,0,0,0,0,1.451980
729301,id2257919,1,2016-04-17 19:28:38,2016-04-17 19:47:08,2,-74.008087,40.738911,-73.974838,40.762234,N,...,0,0,0,0,1,0,0,0,0,3.818278
729302,id0927780,2,2016-01-08 16:50:53,2016-01-08 16:59:43,5,-73.999237,40.733917,-73.983917,40.745968,N,...,0,0,0,1,0,0,0,0,0,1.861072
729303,id3995685,2,2016-06-05 09:31:03,2016-06-05 09:48:24,2,-73.992897,40.746368,-73.952606,40.725361,N,...,0,0,0,0,0,0,0,1,0,4.122055
729304,id0280819,1,2016-03-30 16:17:03,2016-03-30 16:24:41,1,-73.976631,40.751862,-73.987221,40.744850,N,...,0,0,1,1,0,0,0,0,0,1.185110
729305,id3181346,2,2016-05-02 08:22:25,2016-05-02 08:32:19,1,-74.003395,40.726891,-73.987099,40.733337,N,...,0,0,0,0,0,0,0,1,0,1.549516
729306,id0893194,2,2016-03-06 14:54:03,2016-03-06 15:49:09,6,-73.983070,40.757626,-73.861641,40.768276,N,...,0,0,0,1,0,0,0,0,0,10.298481
729307,id1222178,2,2016-01-16 13:30:58,2016-01-16 13:41:40,3,-73.987732,40.759621,-73.993500,40.749802,N,...,0,0,0,1,0,0,0,0,0,1.195414
729308,id3477255,2,2016-01-20 08:22:38,2016-01-20 08:47:35,1,-73.977859,40.749538,-73.977859,40.749538,N,...,0,0,1,0,0,0,0,1,0,0.000000
729309,id2740069,1,2016-04-30 21:53:06,2016-04-30 22:03:42,1,-73.991104,40.723789,-74.004623,40.733921,N,...,0,0,0,0,0,1,0,0,0,1.602690
729310,id1055162,2,2016-04-16 16:47:20,2016-04-16 16:49:10,1,-73.957939,40.801128,-73.966591,40.803429,N,...,0,0,0,1,0,0,0,0,0,0.772081
729311,id3035110,1,2016-05-28 15:33:55,2016-05-28 15:41:19,1,-73.966988,40.772610,-73.973984,40.763077,N,...,0,0,0,1,0,0,0,0,0,1.213130
729312,id3683137,2,2016-01-01 00:47:30,2016-01-01 01:12:56,1,-73.984779,40.779781,-73.998718,40.739777,N,...,0,0,0,0,0,0,0,1,0,4.602082
729313,id3993907,1,2016-02-05 11:24:34,2016-02-05 11:46:39,1,-73.994034,40.751015,-74.003738,40.722240,N,...,0,0,0,0,0,0,1,0,0,3.303413
729314,id3226129,2,2016-03-21 03:43:03,2016-03-21 04:05:21,2,-73.987740,40.748222,-73.949585,40.680737,N,...,0,0,0,0,0,0,0,1,0,8.166650
729315,id3234032,1,2016-06-28 06:41:53,2016-06-28 06:43:43,1,-73.984116,40.725372,-73.982544,40.731377,N,...,0,1,0,0,0,0,0,1,0,0.680873
729316,id2031090,2,2016-01-25 22:31:56,2016-01-25 22:39:25,1,-73.974487,40.783138,-73.952629,40.772270,N,...,0,0,0,0,0,0,0,0,1,2.202484
729317,id3905982,2,2016-05-21 13:29:38,2016-05-21 13:34:34,2,-73.965919,40.789780,-73.952637,40.789181,N,...,0,0,0,1,0,0,0,0,0,1.120575
729318,id0102861,1,2016-02-22 00:43:11,2016-02-22 00:48:26,1,-73.996666,40.737434,-74.001320,40.731911,N,...,0,0,0,0,0,0,0,1,0,0.728933
729319,id0439699,1,2016-04-15 18:56:48,2016-04-15 19:08:01,1,-73.997849,40.761696,-74.001488,40.741207,N,...,0,0,0,0,1,0,0,0,0,2.299497
729320,id2078912,1,2016-06-19 09:50:47,2016-06-19 09:58:14,1,-74.006706,40.708244,-74.013550,40.713814,N,...,0,0,0,0,0,0,0,1,0,0.846581
729321,id1053441,2,2016-01-01 17:24:16,2016-01-01 17:44:40,4,-74.003342,40.743839,-73.945847,40.712841,N,...,0,0,0,0,1,0,0,0,0,5.947704

In [7]:
#Now its time to choose the baseline column which I feel play the most 
#important role in affecting the duration of the time
baseline_cols = ['day_Friday','day_Monday', 'day_Saturday', 'day_Sunday', u'day_Thursday',
       'day_Tuesday', 'day_Wednesday', 'Time_Afternoon: 12 - 4 pm',
       'Time_Evening  Hours: 4 - 7 pm',
       'Time_Evening Office Hours: 7 - 9 pm',
       'Time_Morning Office Hours: 9 - 12 pm', 'Time_Morning: 6 - 9 pm',
       'Time_Night: 9 - 6 am', 'Distance']

In [8]:
df_baseline = dfDay[baseline_cols]
df_baseline
y_all = df.trip_duration
y_all

0           400
1          1100
2          1635
3          1141
4           848
5          1455
6           397
7          1101
8          1886
9          1429
10          527
11          911
12          311
13         1070
14          661
15        86164
16          891
17         1547
18          717
19         1375
20          440
21         1937
22         1905
23          325
24          186
25          405
26         2350
27          283
28         1277
29          320
          ...
729292     1628
729293      399
729294      701
729295      576
729296      141
729297      687
729298      400
729299      982
729300      352
729301     1110
729302      530
729303     1041
729304      458
729305      594
729306     3306
729307      642
729308     1497
729309      636
729310      110
729311      444
729312     1526
729313     1325
729314     1338
729315      110
729316      449
729317      296
729318      315
729319      673
729320      447
729321     1224
Name: trip_duration, Length: 729322, dtype: int64

In [9]:
#Now it is time to start training our baseline data-Set
xtrain, xtest, ytrain, ytest = train_test_split(df_baseline,y_all,test_size=0.33, random_state=42)

In [11]:
ytrain

533076    2552
139721     421
216358    1876
220721    2400
683398     405
606112    1084
94491      549
136565     819
511550     122
291103    1388
541817    1371
390764     527
286512     235
245005     581
520917    2843
423665     296
401955     354
338082     844
472509     407
348212     354
575550    1033
288897    1350
284130     998
155293     275
516731    1933
336050     481
599314    1114
723769     736
216659     516
470901     413
          ...
500186    1850
486232    1179
258795     781
421909     421
347449    1661
184779     836
214176     714
235796    1004
103355     360
199041    2005
327069     805
718315     295
321879     168
64820       48
329365     894
41090      550
278167     280
191335     481
175203     123
87498      773
521430     638
137337     148
54886     1375
110268    1555
644167     668
259178     501
365838     298
131932     132
671155     860
121958     751
Name: trip_duration, Length: 488645, dtype: int64

In [ ]:
model = LogisticRegression()
model.fit(xtrain,ytrain)
pred = model.predict_proba(xtest)[:,1]

In [ ]:
pred

In [ ]:
from sklearn.metrics import roc_curve
fpr, tpr, _ = roc_curve(ytest,pred) 
auc = roc_auc_score(ytest, pred) 
plt.figure(figsize=(12,8)) 
plt.plot(fpr,tpr,label="Validation AUC-ROC="+str(auc)) 
x = np.linspace(0, 1, 1000)
plt.plot(x, x, linestyle='-')
plt.xlabel('False Positive Rate') 
plt.ylabel('True Positive Rate') 
plt.legend(loc=4) 
plt.show()

In [ ]:
def cv_score(ml_model, rstate = 12, thres = 0.5, cols = df.columns):
    i = 1
    cv_scores = []
    df1 = df.copy()
    df1 = df[cols]
    
    # 5 Fold cross validation stratified on the basis of target
    kf = StratifiedKFold(n_splits=5,random_state=rstate,shuffle=True)
    for df_index,test_index in kf.split(df1,y_all):
        print('\n{} of kfold {}'.format(i,kf.n_splits))
        xtr,xvl = df1.loc[df_index],df1.loc[test_index]
        ytr,yvl = y_all.loc[df_index],y_all.loc[test_index]
            
        # Define model for fitting on the training set for each fold
        model = ml_model
        model.fit(xtr, ytr)
        pred_probs = model.predict_proba(xvl)
        pp = []
         
        # Use threshold to define the classes based on probability values
        for j in pred_probs[:,1]:
            if j>thres:
                pp.append(1)
            else:
                pp.append(0)
         
        # Calculate scores for each fold and print
        pred_val = pp
        roc_score = roc_auc_score(yvl,pred_probs[:,1])
        recall = recall_score(yvl,pred_val)
        precision = precision_score(yvl,pred_val)
        sufix = ""
        msg = ""
        msg += "ROC AUC Score: {}, Recall Score: {:.4f}, Precision Score: {:.4f} ".format(roc_score, recall,precision)
        print("{}".format(msg))
         
         # Save scores
        cv_scores.append(roc_score)
        i+=1
    return cv_scores

baseline_scores = cv_score(LogisticRegression(), cols = baseline_cols)

In [ ]:
all_feat_scores = cv_score(LogisticRegression())

In [ ]:
from sklearn.feature_selection import RFE
import matplotlib.pyplot as plt

# Create the RFE object and rank each feature
model = LogisticRegression()
rfe = RFE(estimator=model, n_features_to_select=1, step=1)
rfe.fit(dfDay, y_all)

In [ ]:
ranking_df = pd.DataFrame()
ranking_df['Feature_name'] = df.columns
ranking_df['Rank'] = rfe.ranking_
ranked = ranking_df.sort_values(by=['Rank'])

In [ ]:
rfe_top_10_scores = cv_score(LogisticRegression(), cols = ranked['Feature_name'][:10].values)
results_df = pd.DataFrame({'baseline':baseline_scores, 'all_feats': all_feat_scores, 'rfe_top_10': rfe_top_10_scores})
results_df.plot(y=["baseline", "all_feats", "rfe_top_10"], kind="bar")